<div class="container">
  <h2>Hello <%= current_user.name %></h2>
  <p>Let's add friends or <%= link_to "View profile", current_user %></p>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Friend Status</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td>
            <% if friend_relation = current_user.decorate.friend_relation_with(user) %>
              <%= link_to "Remove Friend", friend_relation_path(friend_relation), method: :delete %>
            <% else %>
              <%= link_to "Add Friend", friend_relations_path(friend_id: user.id), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
